@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
*{
    margin: 0;
    padding: 0;

}
body{
    background-color: black;
}
ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.397);
        margin-top: 50px;
        margin-right:50px ;
        margin-left: 50px;
  }
  
 
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgba(17, 17, 17, 0.719)  ;

  }
#myVideo  {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
   min-height: 100%;
  }
  .content {
    display: inline;
    position: absolute;
    color: #f1f1f1;
   
  }
  h1{
    align-items: center;
    margin-left: 20%;
    margin-top: 300px;
    font-family: 'MedievalSharp', cursive; 
   background-color:rgba(0, 0, 0, 0.466) ;
   padding: 16px 66px;
   font-size: 120px;
}
 .cursor {
    cursor: url(../img/cursor.png) ;
 }

 .sem-fundo{
  height: 500px;
  width: 200px;
 }
 