@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway:wght@300;400;600&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap');

 @import url(https://db.onlinewebfonts.com/c/a831675c355af267d4dade89bf89e1f2?family=F29LT+Riwaya+Italic);

 @import url('https://fonts.cdnfonts.com/css/essays1743');

 @import url(https://db.onlinewebfonts.com/c/3ea2f7ab4bb50588671ddae25d4993af?family=Parmigiano+Sans+Std+Reg);

 @import url('https://fonts.cdnfonts.com/css/tt-chocolates');

        html {
           scroll-behavior: smooth;

        }
        body {
            font-family: 'F29LT Riwaya Italic', sans-serif;
            background-color: #f8f5f0;
        }
        
        h1, h4 {
            font-family: 'Chau Philomene One', serif;
        }


         .card-link-hover:hover {
        color: #b35227 !important;
      }
      #btn-topo {
        opacity: 0;
        transition: opacity 0.4s;
        pointer-events: none;
        display: block;
      }
      #btn-topo.show {
        opacity: 1;
        pointer-events: auto;
      }

        
        .logo {
            font-family: 'Playfair Display', serif;
            font-weight: 700;
        }

        p {
          text-align: justify;
        }

        .Lista {
          font-family: 'TT Chocolates';
        }

        .ResenhaDestaque {
          font-family: 'Essays1743';
        }
    
        .book-card {
            transition: all 0.3s ease;
            overflow: hidden;
            height: 200px;
            width: 140px;
            border-radius: 8px;
            position: relative;
        }
        
        .book-card:hover {
            transform: translateY(-10px);
            box-shadow: 0 15px 30px  #5e5b40;
        }
        
        .book-card:hover .card-overlay {
            opacity: 1;
        }
        
        .card-overlay {
            background: rgba(0,0,0,0.7);
            opacity: 0;
            transition: all 0.3s ease;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .navbar {
          background: #203f44;
          font-family: Chau Philomene One, sans-serif;
        }

        .nav-link {
            position: relative;
            font-family: Chau Philomene One, sans-serif;
        }
        
        /*.nav-link::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: -2px;
            left: 0;
            background-color: #8B4513;
            transition: width 0.3s ease;
        }*/
        
        .nav-link:hover::after {
            width: 100%;
            font-family: Chau Philomene One, sans-serif;
        }
        
        .btn-primary {
            background-color: #b35227;
            border-color: #b35227;
            transition: all 0.3s ease;
        }
        
        .btn-primary:hover {
            background-color:  #df9238;
            border-color:  #df9238;
            transform: translateY(-2px);
        }
        
        .btn.bg-laranjaterroso:active,
        .btn.bg-laranjaterroso:focus {
           background-color: #b35227 !important;
           border-color: #b35227 !important;
           color: #fff !important;
       }
      
        .book-detail {
            background-color: #f0e6d2;
        }
        
        .book-cover {
            background-color: #8B4513;
            height: 400px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            box-shadow: 0 10px 20px rgba(0,0,0,0.1);
        }
        
        .author-icon {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .ÍconePaís {
          margin-left: 20px;
        }

        .bg-cianodessaturado {
          background-color: #203f44;
        }

        .bg-laranjaterroso {
          background-color: #b35227;
        }
        

        .bg-laranjabrilhante {
          background-color: #df9238;
        }

        .bg-bege {
          background-color: #ffd9ad;
        }

        .bg-verdedessaturado {
          background-color: #504f30;
        }

        .bg-laranjafundo {
          background-color: #d6cec3;
        }

        .text-bege {
         color:  #ffd9ad !important;
      }


        .text-verdedessaturado {
         color:  #504f30 !important;
      }


      .text-justify {
         text-align: justify;
      }

      

.dropdown-menu.bg-cianodessaturado .dropdown-item:hover,
.dropdown-menu.bg-cianodessaturado .dropdown-item:focus {
  background-color: #203f44 !important;
  color: #fff !important;
  font-family: Chau Philomene One, sans-serif !important;
}

.navbar .nav-link.text-bege:hover,
.navbar .nav-link.text-bege:focus {
  color: #fff !important;
  font-family: Chau Philomene One, sans-serif !important;
}

.navbar .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: middle;
  width: 0.6em;
  height: 0.6em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
  transition: none !important;
  position: static !important;
  font-family: Chau Philomene One, sans-serif !important;
}

.search-container {
            position: relative;
            width: 100%;
            max-width: 300px;
        }
        
        .search-icon {
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
            color: #6c757d;
            z-index: 5;
        }
        
        .search-input {
            padding-left: 38px;
            border-radius: 20px;
        }

        
/*.dropdown-toggle::after{
    border:none;
}*/


header.masthead {
  position: relative;
  margin-bottom: 3rem;
  padding-top: calc(8rem + 57px);
  padding-bottom: 8rem;
  background: no-repeat center center;
  background-color: #6c757d;
  background-size: cover;
  background-attachment: scroll;
}
.masthead {
    height: 250px; /* ajuste conforme necessário */
    min-height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
header.masthead:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  color: #fff;
}
header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}
header.masthead .page-heading h1, header.masthead .page-heading .h1,
header.masthead .site-heading h1,
header.masthead .site-heading .h1 {
  font-size: 3rem;
}
header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin-top: 0.625rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .post-heading h1, header.masthead .post-heading .h1 {
  font-size: 2.25rem;
}
header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}
header.masthead .post-heading .subheading {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.75rem 0 2rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .post-heading .meta {
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .post-heading .meta a {
  color: #fff;
}
@media (min-width: 992px) {
  header.masthead {
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
  }
  header.masthead .page-heading h1, header.masthead .page-heading .h1,
  header.masthead .site-heading h1,
  header.masthead .site-heading .h1 {
    font-size: 5rem;
  }
  header.masthead .post-heading h1, header.masthead .post-heading .h1 {
    font-size: 3.5rem;
  }
  header.masthead .post-heading .subheading {
    font-size: 1.875rem;
  }
}

.section-heading {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 3.75rem;
}

.efeito-sol {
  transition: transform 0.4s cubic-bezier(.4,2,.3,1), filter 0.4s, opacity 0.4s;
  will-change: transform, filter, opacity;
}

.efeito-sol:hover {
  transform: translateY(-30px) scale(1.05);
  opacity: 0;
}

.efeito-sol:hover + .efeito-sol-hover {
  opacity: 1;
  transform: translateY(-30px) scale(1.05);
}

.efeito-sol-hover {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.4s cubic-bezier(.4,2,.3,1), opacity 0.4s;
  max-height: 500px;
  min-width: 130px;
  object-fit: contain;
  margin-left:-18px;
}

.TrechoCultura {
  width: 100vw;
  min-height: 250px;
  max-height: 50px;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TrechoCultura img {
  width: 100vw;
  height: 38vw;
  min-height: 100px;
  max-height: 50px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.btn-confira-livro {
  display: block;
  margin: 0 auto;
  border-radius: 50px; /* Arredondamento igual ao "Leia a resenha" */
  box-shadow: 4px 5px 10px 0 #490700;
  font-family: 'Chau Philomene One', Arial, sans-serif;
  background-color: #b35227; /* cor igual ao botão "Leia a resenha" */
  color: #fff;
  padding: 0.8rem 2.5rem;
  font-size: 1.25rem;
  border: none;
  transition: background 0.3s, box-shadow 0.3s, color 0.3s;
}

.btn-confira-livro:hover,
.btn-confira-livro:focus {
  background-color: #ff984e; /* cor de hover igual ao botão "Leia a resenha" */
  color: #490700;
  box-shadow: 0 0 0 4px #ff984e55, 4px 5px 20px 0 #b35227;
  outline: none;
}