* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Yearbook Solid';
    src: url(Yearbook\ Solid.ttf) format(truetype);
}

h1 {
    margin-left: 60px;
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Yearbook Solid';
}

.titulo {
    color: #0220a9;
}

.first {
    margin-top: 30px;
}

h2 {
    margin-left: 200px;
    font-family: "Raleway";
    margin-left: 350px;
    margin-bottom: 20px;
    margin-top: 60px;
}

th {
    background-color: #0220a9;
    color: #dfeeff;
    padding: 10px;
    font-family: 'Yearbook Solid';
}

td {
    background-color: #dfeeff;
    color: #000000;
    padding: 10px;
    font-family: 'Yearbook Solid';
    border: 2px solid #ffffff;
}

tr {
    border: 2px solid #ffffff;
}

.tabela {
    width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ffffff;
}


.logotime {
    height: 70px;
}

.bg-blue {
    background-color: #0220a9;
}

.logo {
    margin-left: 50px;
}

.bi-house-fill {
    color: #dfeeff;
    border-left: solid #F5F9FE;
    font-size: 25px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 19px;
    padding-right: 5px;
}

.bi-clipboard2-data-fill {
    color: #dfeeff;
    border-left: solid #F5F9FE;
    border-right: solid #F5F9FE;
    font-size: 25px;
    padding: 19px;
}

.bi-telephone-fill {
    color: #dfeeff;
    font-size: 23px;
    padding: 0px;
}

.stylebtn:hover {
    background-color: #DFEEFF;
}

.bi-search:hover {
    color: #0220a9;
}

.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #0220a9;
    position: fixed;
    height: 0px;
    overflow: hidden;
    z-index: 10;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 300px;
    height: 1000px;
    margin-top: 60px;
    transform: translateX(-300px);
    transition: transform 300ms ease-in-out;
    background: #0220a9;
    font-family: "Yearbook Solid";
    font-size: 22px;
}

.sidebarMenuInner {
    margin: 0;
    padding: 0;
}

.sidebarMenuInner li {
    list-style: none;
    color: #dfeeff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.sidebarMenuInner li span {
    display: block;
    font-size: 14px;
    color: #dfeeff;
}

.sidebarMenuInner li a {
    color: #dfeeff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

input[type="checkbox"]:checked~#sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.list-item {
    border-bottom: 2px #dfeeff solid;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #dfeeff;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}