body{
    background-color: #71A9C8;   
     font-family:'Cambria', 'Times New Roman';
      font-size: 20px;
      background-image: url(../imagens/logos\ 2\ filme\ \ \(1\).png);
    }
    #Avatar{
      width: 600px;
      position: absolute;
    display: flex;
    margin-left: 30%;
    margin-right: 50%;
    margin-top: -30%;
    }
    .conteiner#myVideo  {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
       min-height: 100%;
       display: flex;
      }
      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #71A9C8;
          display: flex;
          Justify-content: center
        }
      
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        /*+++++++++++++++++++++Sinopse e Texto++++++++++++++++++++++++++++*/
  /*+++++++++++++++++++++++++++logo+++++++++++++++++++++++++++++++++*/
  /*+++++++++++++++++++++Sinopse e Texto++++++++++++++++++++++++++++*/
  #logo1{
    max-width: 50px;
    margin-left: 85%;
    margin-top: -3.5%;
    position: absolute;
  }
  li {
    float: left;
    text-decoration: none;
    list-style-type: none;
  }
  
  li a#logo {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
  
  }
  a:hover:not(.active) {
    background-color: #ffffff;
    color: #71A9C8;
  }
        .active {
          background-color:#0062d3;
        }
        h1{
          color: #ffffff;
        
        }
        h2{
          color: #ffffff;
        }
        h3{
          color: #ffffff;
        }
        @media( max-width:1366px){
          #Avatar{
            width: 600px;
            position: absolute;
          display: flex;
          margin-left: 30%;
          margin-right: 50%;
          margin-top: -45%;
          }
          .conteiner#myVideo  {
              position: fixed;
              right: 0;
              bottom: 0;
              min-width: 1000%;
             min-height: 100%;
             display: flex;
            }
        }
        #gameli{
          width: 500px;
          height: 500px;
          transform: none;
          display: inline;
          justify-content: center;
  
        }
        a#jogo1{
          width: 200px;
          height: 200px;
          padding: 10px;
          margin-top: 30%;
          margin-left: 250%;
          position: relative;
        }
        a#jogo1 img#lol1{
          width: 200px;
          height: 200px;
          padding: 0px;
          border-radius: 50%;
        
        }